@charset "utf-8";
/* CSS Document */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #d1c0a5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'Ataliana', serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-family: 'Strait', sans-serif;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Full height minus header */
    background-color: #fff;
}

.profile img {
    border-radius: 8px;
    width: 1530px;
    height: auto;
	padding-top: 502px;
}
